<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title></title>
    <style type="text/css">
        form.basic-grey {
            margin-left:auto;
            margin-right:auto;
            max-width: 500px;
            background: #F7F7F7;
            padding: 25px 15px 25px 10px;
            font: 12px Georgia, "Times New Roman", Times, serif;
            color: #888;
            text-shadow: 1px 1px 1px #FFF;
            border:1px solid #E4E4E4;
        }
        form.basic-grey h1 {
            font-size: 25px;
            padding: 0px 0px 10px 40px;
            display: block;
            border-bottom:1px solid #E4E4E4;
            margin: -10px -15px 30px -10px;;
            color: #888;
        }
        form.basic-grey h1>span {
            display: block;
            font-size: 11px;
        }
        form.basic-grey label {
            display: block;
            margin: 0px;
        }
        form.basic-grey label>span {
            float: left;
            width: 20%;
            text-align: right;
            padding-right: 10px;
            margin-top: 10px;
            color: #888;
        }
        form.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
            border: 1px solid #DADADA;
            color: #888;
            height: 30px;
            margin-bottom: 16px;
            margin-right: 6px;
            margin-top: 2px;
            outline: 0 none;
            padding: 3px 3px 3px 5px;
            width: 70%;
            font-size: 12px;
            line-height:15px;
            box-shadow: inset 0px 1px 4px #ECECEC;
            -moz-box-shadow: inset 0px 1px 4px #ECECEC;
            -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
        }
        form.basic-grey textarea{
            padding: 5px 3px 3px 5px;
        }
        form.basic-grey select {
            background: #FFF no-repeat right;
            background: #FFF no-repeat right);
            appearance:none;
            -webkit-appearance:none;
            -moz-appearance: none;
            text-indent: 0.01px;
            text-overflow: '';
            width: 70%;
            height: 35px;
            line-height: 25px;
        }
        form.basic-grey textarea{
            height:100px;
        }
        form.basic-grey .button {
            display: block;
            margin: 5px 5px 5px 5px;
            background: #E27575;
            border: none;
            padding: 10px 25px 10px 25px;
            color: #FFF;
            box-shadow: 1px 1px 5px #B6B6B6;
            border-radius: 3px;
            text-shadow: 1px 1px 1px #9E3F3F;
            cursor: pointer;
            overflow:auto;
        }
        form.basic-grey .button:hover {
            background: #CF7A7A
        }

    </style>
</head>

<body>

{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

<form action="submit/" method="post" class="basic-grey">

    {% csrf_token %}

    {% if event %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ event.name }}" />
    <label for="description">Beschreibung:</label>
    <textarea id="description" name="description" rows=3 cols=30>{{ event.description }}</textarea>
    {% else %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"/>
    <label for="description">Beschreibung:</label>
    <textarea name="description" id="description" rows=3 cols=30></textarea>
    {% endif %}

    <label for="day">Wochentag:</label>
    <select name="day" id="day">
    {% for day in days %}
        <option value="{{ forloop.counter }}" {% if forloop.counter == selected_day %} selected="selected">{% endif %}>
                {{ day }}
        </option>
    {% endfor %}
    </select>

    <label for="hour">Stunde:</label>
    <select name="hour" id="hour">
    {% for hour in hours %}
        <option value="{{ hour }}" {% if hour == selected_hour %} selected="selected">{% endif %}>
                {{ hour }}:00
        </option>
    {% endfor %}
    </select>

    <input type="submit" class="button" name="update" value="Update" />
    {% if event %}
    <input type="submit" class="button" name="delete" value="Delete" />
    {% endif %}
    <input type="submit" class="button" name="cancel" value="Cancel" />
</form>
</body>
</html>