<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Wochenplaner</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
        table.gridtable caption {
            caption-side: bottom;
        }
    </style>
</head>


<body>
    {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}
    <h1>{{ next_appointment }}</h1>
    <table class="gridtable">
        <caption>Wochenplan</caption>
        <thead>
            <tr>
            {% for item in table_head %}
                <th>{{ item }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
         {% for row in table_body %}
            <tr>
                <th>{{ forloop.counter|add:6 }}:00</th>
            {% for item in row %}
                <td onclick="window.location='appointment/{{ forloop.counter }}/{{ forloop.parentloop.counter|add:6 }}'">
                    {% if item %}{{ item }}{% endif %}
                </td>
            {% endfor %}
            </tr>
         {% endfor %}
        </tbody>
    </table>
</body>
</html>